/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #444;
}

html, body {
  height: 100%;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  border: none;
  cursor: pointer;
}

/* GLOBAL/REUSABLE CLASSES */
.text-center {
  text-align: center;
}