@keyframes colors {
  from {
    background: orange;
  }

  to {
    background: purple;
  }
}

/* RESETS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  color: #444;
}

body {
  text-align: center;
  transition: background 1s;
}

body.amaze {
  animation: colors 5s infinite alternate;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: #333;
}

button {
  border: none;
  cursor: pointer;
}

body:has(button:hover) {
  animation: colors 5s;
}

/* GLOBAL/REUSABLE CLASSES */
.text-center {
  text-align: center;
}


/* CUSTOM STYLES */
button {
  padding: 10px 45px;
  margin: 50px auto;
  background: #0027e0;
  color: #fff;
}